<form method="post" action="/members">
    <label for="first-name">First Name:</label>
        <input id="first-name" type="text" name="first_name"/>

    <label for="last-name">Last Name:</label>
        <input id="last-name" type="text" name="last-name"/>

    <label for="date-of-birth">Date Of Birth:</label>
        <input id="date-of-birth" type="date" name="dob">

    <label for="email">Contact Email:</label>
        <input id="email" type="text" name="email"/>

    <input type="submit" value="Create Member"/>

</form>
    