<h3 class="add">Register New Member:</h3>

<form method="post" autocomplete="off" action="/members">
    <div class="form-wrapper">

        <div class="form-el">
            <label for="first-name">First Name:</label>
            <input required id="first-name" type="text" name="first_name" autocomplete="off"/>
        </div>

        <div class="form-el">
            <label for="last-name">Last Name:</label>
            <input required id="last-name" type="text" name="last_name" autocomplete="off"/>
        </div>

        <div class="form-el">   
            <label for="date-of-birth">Date Of Birth:</label>
            <input required id="date-of-birth" type="date" name="dob" autocomplete="off"/>
        </div>

        <div class="form-el">
            <label for="email">Contact Email:</label>
            <input required id="email" type="text" name="email" autocomplete="off"/>
        </div>

        <div class="form-el">
            <label for="phone-number">Phone Number:</label>
            <input required id="phone-number" type="text" name="number autocomplete="off/>
        </div>

        <div class="form-el">
            <label for="date-joined">Date Joined:</label>
            <input required id="date-joined" type="date" name="date_joined" autocomplete="off"/>
        </div>

        <div class="form-el">
            <label for="membership_select">Memerbship Type:</label>
            <select name="membership_type" id="membership_select">
                <option value="Premium">Premium</option>
                <option value="Standard">Standard</option>
            </select>
        </div>

        <div class="fomr-el">
            <input class="btn" type="submit" value="Create Member"/>
        </div>
    
    </div>

</form>
    