<h2>Register New Member:</h2>

<form method="post" action="/members">
    <div class="form-wrapper">

        <div class="form-el">
            <label for="first-name">First Name:</label>
            <input id="first-name" type="text" name="first_name"/>
        </div>

        <div class="form-el">
            <label for="last-name">Last Name:</label>
            <input id="last-name" type="text" name="last_name"/>
        </div>

        <div class="form-el">   
            <label for="date-of-birth">Date Of Birth:</label>
            <input id="date-of-birth" type="date" name="dob"/>
        </div>

        <div class="form-el">
            <label for="email">Contact Email:</label>
            <input id="email" type="text" name="email"/>
        </div>

        <div class="form-el">
            <label for="phone-number">Phone Number:</label>
            <input id="phone-number" type="text" name="number">
        </div>

        <div class="form-el">
            <label for="date-joined">Date Joined:</label>
            <input id="date-joined" type="date" name="date_joined">
        </div>

        <div class="form-el">
            <label for="membership_select">Memerbship Type:</label>
            <select name="membership_type" id="membership_select">
                <option value="Premium">Premium</option>
                <option value="Standard">Standard</option>
            </select>
        </div>

        <div class="btn-container">
            <input class="btn" type="submit" value="Create Member"/>
        </div>
    
    </div>

</form>
    