<h3 class="add">Add New Class:</h3>
    
<form autocomplete="off" method="post" action="/classes">
    <div class="form-wrapper">

        <div class="form-el">
            <label for="class-name">Class Name:</label>
            <input required id="class-name" type="text" name="name"/>
        </div>

        <div class="form-el">
            <label for="duration">Duration (mins):</label>
            <select id="duration" name="duration">
                <option value="15">15</option>
                <option value="30">30</option>
                <option value="45">45</option>
                <option value="60">60</option>
            </select>
        </div>

        <div class="form-el">
            <label for="instructor">Instructor:</label>
            <select id="instructor" name="instructor">
                <option value="Mark Smith">Mark Smith</option>
                <option value="Aaron Johnson">Aaron Johnson</option>
                <option value="Emily Watson">Emily Watson</option>
                <option value="Michelle Black">Michelle Black</option>
                <option value="William Blake">William Blake</option>
                <option value="Troy Bolton ">Troy Bolton</option>
            </select>
        </div>

        <div class="fomr=el">
            <input class="btn" type="submit" value="Create Class"/>
        </div>

    </div>
</form>