<h2>New Class:</h2>
    
<form method="post" action="/classes">
    <div class="form-wrapper">

        <div class="form-el">
            <label for="class-name">Class Name:</label>
            <input id="class-name" type="text" name="name"/>
        </div>

        <div class="form-el">
            <label for="duration">Duration (mins):</label>
            <select id="duration" name="duration">
                <option value="15">15</option>
                <option value="30">30</option>
                <option value="45">45</option>
                <option value="60">60</option>
            </select>
        </div>

        <div class="form-el">
            <label for="instructor">Instructor:</label>
            <input id="instructor" type="text" name="instructor"/>
        </div>

        <div class="btn-container">
            <input class="btn" type="submit" value="Create Class"/>
        </div>

    </div>
</form>