<form method="post" action="/classes">
    <label for="class-name">Class Name:</label>
        <input id="class-name" type="text" name="name"/>
    
    <label for="duration">Duration (mins):</label>
        <select id="duration" name="duration">
            <option value="15">15</option>
            <option value="30">30</option>
            <option value="45">45</option>
            <option value="60">60</option>
        </select>

    <label for="instructor">Instructor:</label>
        <input id="instructor" type="text" name="instructor"/>
    
    <input type="submit" value="Create Class"/>

</form>