<h1>Class Name: <%= @gym_class.name%></h1>
<h2>Members Booked On Class:</h2>

    <table>
        <tr>
            <th>Member Name</th>
            <th></th>
            <th>Member ID</th>
            <th></th>
            <th></th>
        </tr>
        <% @gym_class.members.each do |member| %>
        <tr>
            <td><%= member.id%></td>
            <td></td>
            <td><%= member.full_name()%></td>
            <td></td>
            <td><a href="/classes/<%= member.id%>">See Member Profile</a></td>
            <td></td>
<% end %>