<div class="main">

    <h1 class="header">Total Fitness</h1>

    <div class="container">

        <div class="box">
                <a href="/bookings/new">Add New Booking</a>
        </div>

        <div class="box">
                <a href="/members/new">Add New Member</a>
        </div>

        <div class="box">
                <a href="/classes/new">Add New Class</a>
        </div>

        <div class="box">
                <a href="/sessions/new">Add New Session</a>
        </div>
    
    </div>
</div>
