<div class="main">

    <h1 class="header">Total Fitness Gym</h1>

        <div class="image">
            <img src="/images/background.jpg" al="picture of gym">
        </div>

        <div class="box">
                <a href="/bookings/new">Add New Booking</a>
        </div>

        <div class="box">
                <a href="/members/new">Add New Member</a>
        </div>

        <div class="box">
                <a href="/classes/new">Add New Class</a>
        </div>

        <div class="box">
                <a href="/sessions/new">Add New Session</a>
        </div>
    
</div>
