<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Total Fitness</title>
</head>
<body>
<main class = "nav-bar">
    <nav>
        <ul>
            <li><a href="/members">Members</a></li>
            <li><a href="/classes">Classes</a></li>
            <li><a href="/bookings">Bookings</a></li>
        </ul>
    <%= yield %>
</body>
</html>