<h1>New Booking</h1>

<form method="post" action="/bookings">

    <label>
    Select A Member:
        <select name="member_id">
            <% for booking in @bookings%>
                <option value="<%= booking.member_id%>"><%= booking.member.full_name()%></option>
            <% end %>
        </select>
    </label>

    <label>
    Select Class:
        <select name="gymclass_id">
            <% for gym_class in @classes%>
                <option value="<%= gym_class.id%>"><%= gym_class.name%></option>
            <% end %>
         </select>
    </label>

    <input type="submit" value="Available Sessions"/>

</form>