.btn {
    background-color: darkslategrey;
    color: white;
    padding: .5em;
    border-radius: 5%;
    margin-left: 40px;
    font-style: bold;
    transition: all 350ms ease-out;
    cursor:pointer;
    }
}

.btn:hover {
    transform: scale(1.1);
}

.btn-container {
    display: inline-block;
    padding-left: 15px;
}