
label {
    display: block;
    color: darkslategray;
    font-family: 'Raleway', sans-serif;
    text-align: left;
    font-weight: 500;
    padding: .25rem;
    margin-right: 15px;
    margin-bottom: 10px;
  }

input, select {
    background-color: white;
    border-radius: 5%;
    border: 2px solid grey;
    padding: .4em;
    width: 30%;
  }
  
  .form-el {
      margin-left: 2.5em;
      padding: .5em;
      font-size: 1.2em;
  }