body, html {
    background: rgb(205, 218, 216);
    font-family: 'Merriweather', serif;
    padding: 0px;
    margin: 0px;
    color: #4d4d4d;
    font-size: 16px;
}

#content {
    position: relative;
    top: 80px;
}

header {
    position: fixed;
    display: flex;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 4rem;
    background-color: white;
    z-index: 5;
    margin: 0;
    padding: 0;
}

header span {
    font-size: 1.5rem;
    align-self: center;
    color: #696969;
    margin: 20px;
}

header span .logo {
    color: #404040;
    font-weight: 550;
}

nav {
    justify-content: flex-end;
    width: 100%;
    align-self: center;
}

ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    text-align: center;
    margin-right: 1.5rem;
    background-color: white;
}

ul li a {
    text-decoration: none;
    font-size: 1rem;
    color: #4d4d4d;
    list-style: none;
    text-align: center;
    padding: 1rem;
    font-weight: 600;
    border-radius: 35px;
    transition: all 400ms ease-out;
}


ul li a:hover {
    color: whitesmoke;
    background-color: darkslategrey;
}

.container {
    display: flexbox;
    max-width: 100%;
}

.box {
    padding: 20px;
    border: 2px solid #4d4d4d;;
    margin: 20px;
}

a {
    text-decoration: none;
    color: #4d4d4d;
}

h1 {
    margin-left: 40px;
    font-size: 2.4em;
    text-align: center;
}

h2 {
    margin-top: 2em;
    margin-left: 40px;
    font-size: 1.2em;
    text-align: center
}

.create {
    background-color: rgb(221, 181, 4);
    color: white;
    padding: 1em;
    border-radius: 5%;
    margin-left: 40px;
    font-style: bold;
    transition: all 350ms ease-out;
}

.create:hover {
    color: whitesmoke;
    background-color: darkslategrey;
}

.members-list  {
    margin-top: 4em;
}

.member-box {
    border: 1.5px solid #4d4d4d;
    margin: 1em;
    background-color: rgb(241, 238, 238);
    display: inline-flex;
}

.member-box p {
    margin-left: 2em;
    font-weight: bold;
}

.member-box a {
    color: midnightblue;
}

.member-box .btn-container {
    padding: 1em;
    align-content: center;
}

.name {
    font-size: 1.3em;
    color: black;
    font-style: bold;
}

.class-list  {
    margin-top: 4em;
}

.class-box {
    border: 1.5px solid #4d4d4d;
    margin: 1em;
    background-color: rgb(241, 238, 238);
}

.class-box p {
    margin-left: 1.5em;
    font-weight: bold;
}


.class-box a {
    color: midnightblue;
}