td, th {
    text-align: left;
    border: 2px solid #4d4d4d;
  }
  
  td {
    padding: 5px 60px 10px 10px;
    border-left: 2px solid #4d4d4d;
    border: 2px solid #4d4d4d;
  }
  
  th {
    padding: 5px 60px 10px 10px;
    background-color: whitesmoke;
    font-size: 1.3em;
  }
  
  table {
    border-left: 2px solid #4d4d4d;
    border: 2px solid #4d4d4d;
    margin: 40px;
  }

