<a href="/sessions/new">Add New Session</a>

<% for session in @sessions%>
    <p>Class Name: <%= session.gym_class.name%></p>
    <p>Instructor: <%= session.gym_class.instructor%></p>
    <p>
    <hr/>
<% end %>