<h2>Add New Session:</h2>

<form method="post" action="/sessions">
     <div class="form-wrapper">
    
        <div class="form-el">
            <label>
            Select Class:
            <select name="gymclass_id">
                <% for gym_class in @classes%>
                    <option value="<%= gym_class.id%>"><%= gym_class.name%></option>
                <% end %>
            </select>
            </label>
        </div>

        <div class="form-el">
            <label for="day">Day:</label>
            <select id="day" name="day">
                <option value="1">Monday</option>
                <option value="2">Tuesday</option>
                <option value="3">Wednesday</option>
                <option value="4">Thursday</option>
                <option value="5">Friday</option>
                <option value="6">Saturday</option>
                <option value="7">Sunday</option>
            </select>
        </div>

        <div class="form-el">
            <label for="start-time">Start Time:</label>
            <input id="start-time" type="time" name="start_time" min="09:00" max="18:00"/>
        </div>

         <div class="form-el">
            <label for="capacity">Cacpacity:</label>
            <input id="capacity" type="number" name="capacity" min="0" max="50"/>
        </div>
    
         <div class="form-el">
            <input type="submit" value="Create Session"/>
        </div>
    </div>

</form>